.partners
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    .partner-wrapper
        flex-grow: 0;
        max-height: 200px;
        